@import "./normalize.min.css";

:root {
  --text-primary-color: #3c3c3c;
  --text-accent-color: #ae3b44;
  --dark-color: #212121;
}

p,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* @font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial/ArialMT.eot');
  src: url('../fonts/Arial/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial/ArialMT.woff2') format('woff2'),
    url('../fonts/Arial/ArialMT.woff') format('woff'),
    url('../fonts/Arial/ArialMT.ttf') format('truetype'),
    url('../fonts/Arial/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
} */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-image: linear-gradient(
    to bottom,
    #ebf0f3,
    #f1f4f6,
    #f6f7f9,
    #fbfbfc,
    #ffffff
  );
  /* font-family: 'Arial'; */
}

.wrapper {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    #ebf0f3,
    #f1f4f6,
    #f6f7f9,
    #fbfbfc,
    #ffffff
  );
}

.bg {
  background: url(../img/background1.png) no-repeat center top;
  position: absolute;
  width: 100%;
  height: 500px;
  opacity: 0.1;
}

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.main {
  position: relative;
  z-index: 1;
}

.main-header .container {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .logo {
  margin-right: 50px;
}

.main-menu__wrap {
  margin-right: 20px;
  display: flex;
}

.main-menu__item {
  position: relative;
  cursor: pointer;
}

.main-menu__link {
  display: block;
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
}

.main-menu__wrap .main-menu__link {
  color: var(--text-primary-color);
}

.main-menu__item:hover > .main-menu__link {
  color: var(--text-accent-color);
}

.main-menu__wrap li:hover > .main-menu__wrap {
  display: block;
}

.main-menu__wrap--second {
  background: var(--dark-color);
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
  width: 145px;
  display: none;
  z-index: 9;
}

.main-menu__wrap--second .main-menu__link {
  color: #9ca0a2;
}

.main-menu__wrap--second > .main-menu__item:hover > .main-menu__wrap {
  display: block;
}

.main-menu__wrap--second
  > .main-menu__item:first-child
  > .main-menu__link:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 0;
  height: 0;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 7px solid var(--dark-color);
}

.main-menu__wrap--second .main-menu__item:hover > .main-menu__link {
  color: #fff;
}

.main-menu__item--arrow:hover:after {
  position: absolute;
  left: 100%;
  transform: translateX(-50%) rotate(90deg);
  top: 16px;
  z-index: 99;
  width: 0;
  height: 0;
  content: "";
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 6px solid var(--dark-color);
}

.main-menu__wrap--third {
  flex-direction: column;
  background: var(--dark-color);
  white-space: nowrap;
  position: absolute;
  left: 103%;
  top: 0px;
  width: 145px;
  display: none;
  z-index: 9;
}

.main-menu__wrap--third .main-menu__item:first-child .main-menu__link:before {
  position: absolute;
  left: 0;
  transform: translateX(-50%) rotate(90deg);
  top: 16px;
  width: 0;
  height: 0;
  content: "";
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 6px solid #fff;
}

.banner {
  display: flex;
  border-top: 8px solid #212121;
  background-color: var(--text-accent-color);
}

.banner__img {
  flex: 0 0 245px;
  background: url(../img/Layer-12.jpg) no-repeat;
  background-size: cover;
}

.banner__wrap {
  padding: 20px 30px;
}

.banner__title {
  min-width: 170px;
}

.banner__title .h2 {
  color: #fff;
}

.banner__text {
  color: #222;
  font-size: 12px;
  line-height: 19px;
  padding: 0;
  margin: 0 0 15px;
}

.banner__arrows {
  text-align: right;
  display: block;
  margin-left: auto;
}

.banner__arrow {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.main-wrapper {
  display: flex;
}

.aside {
  flex: 0 0 245px;
  border-right: 1px solid #ddd;
  padding-top: 40px;
  background-image: linear-gradient(
    to bottom,
    #ebf0f3,
    #f1f4f6,
    #f6f7f9,
    #fbfbfc,
    #ffffff
  );
}

.aside__h3 {
  font-size: 18px;
  color: #212121;
  padding: 9px 13px;
  font-weight: 400;
  background: url(../img/line.png) no-repeat;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.main-container {
  padding: 0 0 30px 30px;
}

.main-container__item {
  padding: 30px 30px 30px 0;
}

.main-container__item,
.main-wrapper {
  border-bottom: 1px solid #ddd;
}

.top-section {
  position: relative;
}

.top-section__h2 {
  max-width: 440px;
  color: var(--text-primary-color);
}

.top-section__date {
  width: 79px;
  height: 79px;
  background: url(../img/lines.png) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-section__day {
  font-size: 17px;
  font-weight: bold;
  color: var(--text-primary-color);
  opacity: 0.4;
}

.top-section__month,
.top-section__year {
  font-size: 10px;
  color: var(--text-primary-color);
  opacity: 0.4;
}

.top-text {
  color: #909293;
  font-size: 15px;
  font-style: italic;
}

.main-container__h4 {
  color: var(--text-accent-color);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-container__p {
  font-size: 12px;
  color: var(--text-primary-color);
  line-height: 19px;
}

.main-container__p--indent {
  margin-bottom: 20px;
}

.figure {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.figure__img {
  max-width: 100%;
}

.figure__figcaption {
  font-size: 11px;
  color: var(--text-primary-color);
  opacity: 0.4;
}

.text-section__img {
  float: left;
  padding: 30px 30px 30px 0;
  max-width: 100%;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__title {
  color: var(--text-accent-color);
  font-size: 15px;
}

.pagination__title:hover {
  color: #222;
}

.pagination__link {
  display: flex;
  align-items: center;
}

.pagination__img-previous {
  margin-right: 20px;
}

.pagination__img-next {
  margin-left: 20px;
}

.main-container__footer {
  padding-top: 30px;
}

.aside-menu {
  border-bottom: 1px solid #ddd;
}

.aside-menu .aside-menu__item:not(:last-child) .aside-menu__link {
  border-bottom: 1px solid #ddd;
}

.aside-menu__link {
  text-decoration: none;
  font-size: 12px;
  color: var(--text-primary-color);
  display: block;
  padding: 13px;
}

.aside-menu__wrap--first .aside-menu__link {
  background: #fdfdfd;
}

.aside-menu__wrap--second {
  display: none;
}

.aside-menu__wrap--second .aside-menu__link {
  background: #f4f7f8;
  padding-left: 37px;
}

.aside-menu__wrap--third .aside-menu__link {
  background: #eaeaea;
  padding-left: 57px;
}

.aside-menu__wrap--third {
  display: none;
}

.aside-menu__item--arrow:after {
  background: url(../img/arrow-aside.png) no-repeat;
  background-size: contain;
  width: 7px;
  height: 10px;
  position: absolute;
  top: 17px;
  right: 10px;
  content: "";
  transform: rotate(-90deg);
}

.aside-menu__wrap--open {
  display: block;
}

.aside-menu__wrap--third .aside-menu__item--arrow:after {
  right: auto;
  left: 40px;
}

.aside-menu__wrap--third .aside-menu__item--arrow-down:after {
  right: auto;
  left: 38px;
}

.aside-menu__item--arrow-down:after {
  background: url(../img/arrow-aside.png) no-repeat;
  background-size: contain;
  width: 7px;
  height: 10px;
  position: absolute;
  top: 19px;
  right: 13px;
  content: "";
  transform: rotate(0deg);
}

.aside-menu__item {
  position: relative;
}

.aside-menu__item:hover:not(.aside-menu__item--active) > .aside-menu__link {
  color: var(--text-accent-color);
}

.aside-menu__item--active .aside-menu__link {
  background: var(--text-accent-color);
  color: #fff;
  margin-right: -1px;
}

.aside-menu__item--active:after {
  position: absolute;
  left: 101%;
  transform: translateX(-50%) rotate(90deg);
  top: 17px;
  width: 0;
  height: 0;
  content: "";
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 6px solid var(--text-accent-color);
}

.clients__wrap {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.clients__title {
  font-size: 18px;
  color: #212121;
}

.clients__item {
  display: flex;
  align-items: center;
}

.clients__img {
  filter: grayscale(100%);
  cursor: pointer;
}

.clients__img:hover {
  filter: grayscale(0%);
}

.footer {
  background: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: inset -2px 4px 4px 0px rgba(13, 12, 13, 0.1);
}

.footer__h4 {
  color: #393939;
  font-size: 15px;
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer__link,
.footer__copyright {
  color: #393939;
  font-size: 12px;
  opacity: 0.5;
}

.footer__link:hover {
  color: var(--text-accent-color);
  opacity: 1;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__block--first {
  flex-basis: 47%;
  margin-right: 7%;
}

.footer__block--second,
.footer__block--third {
  flex-basis: 20%;
}

.socials-list {
  display: flex;
  padding-top: 7px;
  margin-bottom: 5px;
}

.socials-list__item:not(:last-child) {
  margin-right: 7px;
}

.footer__list-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials-list__link svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #393939;
  opacity: 0.5;
}

.socials-list__link:hover svg {
  color: var(--text-accent-color);
  opacity: 1;
}
